﻿/*
    file:            main.less
    author(s):       mike kyffin
    build target:    main.css
    
    Copyright (c) 2013-2014 Maps, Data and Government Information Center (MaDGIC) at Trent University
    http://www.trentu.ca/library/madgic/
    Now featuring super-verbose commenting for internal use!    
    */

@main-font: "Istok Web", Helvetica, sans-serif; /* frutiger-esque font via google web fonts*/
@main-font-base-size: 14px; /* base font size, in px. reference for em. */
@med-blue: #5F89AA; /* trent blue from trentu.ca/library border - the other blue is #4C748E */
@dark: #362B36; /* THUNDER!!! http://chir.ag/projects/name-that-color/#362B36 */
@light-grey: #FEFEFE;
@dark-grey: #DDDDDD;
@dark-green: #004123; /* trent green from trentu.ca/library border */
@noscript-text: #222222;
@error: #FF3333;
@black: #000000;
@jquery-ui-icons-med-blue: url("cupertino/images/ui-icons_5F89AA_256x240.png"); /* med-blue icons */
@jquery-ui-icons-light-grey: url("cupertino/images/ui-icons_FEFEFE_256x240.png"); /* light-grey icons */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.noscript div {
    color: @noscript-text;
    height: 100%;
    width: 600px;
    margin: 0 auto;
}

.display {
    display: none;
    height: 100%;
    width: 100%;
}

body {
    background-color: @dark-grey;
    font-family: @main-font;
}

#map {
    padding: 0;
}

#top {
    background-color: @med-blue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#links {
    cursor: pointer;
    float:left;
    width:200px;
}

.library-logo {

}

#toggle {
    background-color: @med-blue;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 64px;
    right: 0;
    z-index: 99;
    border-bottom-left-radius: 6px;
    padding-top: 6px;
    cursor: pointer;
}

#spinner {
	width: 30px;
	height: 30px;
	line-height: 25px;
	background-color: @med-blue;
    border: 2px solid @dark;
    border-radius: 5px 5px 5px 5px;
    left: 20px;
    position: absolute;
    text-align: center;
    top: 89px;
    z-index: 39;
}

#spinner img {
    margin: 1px 0 0 0;
}

#right {
    background-color: @light-grey;
}

#content {
    font-size: 12px;
    /*padding: 12px;*/
}

#contentTitle {
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid @med-blue;
    padding-bottom: 0;
}

#searchClear, #downloadClear {
    float:right; 
    margin-bottom:6px;
    color: @med-blue;
    cursor:pointer;
    font-size:12px;
}

.searchLoader {
    float: left;
    display: none;
}

.gradient-bg {  
   background-color: @light-grey; /* fallback/image non-cover color */   
   background-image: url();  /* fallback image */   
   background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(@light-grey 50%), to(@med-blue)); /* Safari 4+, Chrome 1-9 */  
   background-image: -webkit-linear-gradient(left, @light-grey 50%, @med-blue); /* Safari 5.1+, Mobile Safari, Chrome 10+ */   
   background-image: -moz-linear-gradient(left, @light-grey 50%, @med-blue); /* Firefox 3.6+ */   
   background-image: -ms-linear-gradient(left, @light-grey 50%, @med-blue); /* IE 10+ */  
   background-image: -o-linear-gradient(left, @light-grey 50%, @med-blue);  /* Opera 11.10+ */  
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=@light-grey, endColorstr=@med-blue);
}

.menuClosed {
    width: 0;
    border-left: 0;
}

.menuOpen {
    width: 330px;
    border-left: 3px solid @med-blue;
}

.menu-header {
    font-size: 13px;
    font-weight: bold;
}

.menu-anchor {
    display: none;
    margin: 0;   
}

.arrow-right {
    height: 0;
    width: 0;
    border-bottom: 5px solid transparent;
    border-left: 8px solid @light-grey;
    border-top: 5px solid transparent;
    margin-left: 6px;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 8px solid @light-grey;
    margin-left: 4px;
}

.top-item {
    float: left;
    color: @light-grey;
    font-size: 15px;
    padding: 0 3px;    
    cursor: pointer;
    border-radius: 5px;
    line-height: 64px;
}

.top-item span {
    line-height: 12px;
    margin: 0 3px 0 3px; 
    border-radius: 5px; 
    padding: 2px 5px;
 }

.top-item-current {
    background-color: @light-grey;
    color: @dark;
    text-shadow: none;   
}

.top-item span:hover {
    color: @dark;
    background-color: @dark-grey;
    text-shadow: none;
}

.mode-container {
    float:right;
}

.mode-button {
    margin: 1px 3px;
    padding: 1px 3px;
    border: 2px solid @dark-grey;
}

.mode-button > i {
    margin: 0 3px;
}

.mode-button:hover {
    cursor: pointer;
}

.mode-button.disabled {
    color: @dark-grey;              
}

.mode-button.enabled {
    color: @med-blue; 
    background-color: @dark-grey;             
}

#tabButtons {
    font-size: 12px;
}

#layers {
    margin: 0; 
    padding: 0;
}
.view {
    list-style-type: none;
    margin: 6px 3px;
    padding: 12px; 
    border-radius: 6px;
    background-color: @med-blue;
}

.view-title {
    color: @light-grey;    
    font-size: 15px;  
    padding:  0 0 6px 0;
}

.view-opacity-slider {
    left: 3px;
    width: 80px;
    display: inline-block;
}

.view-toggle {  
    color: @light-grey;
    font-size: 12px; 
    display: inline;
    margin: 0 6px 0 0;
    padding: 0 0 9px 0;
    cursor: pointer;
}

.view-toggle:hover {
    color: @dark;
}

.view-toggle-container {
    margin: 0 0 9px 0;
}

.view-metadata {
    color: @dark;
    font-size: 1em;
    margin: 9px 0px 9px 0;  
}

.view-legend {
    font-size: 1em;   
}

.view-airphoto {

}

.view-airphoto-photo-container {
    /*padding-bottom: 0.5em;*/
}

.view-airphoto-icon {
   color: @light-grey;
   font-size: 1em; 
   float: right;  
}
.view-airphoto-icon i {
    cursor: pointer; 
}

.view-airphoto-photo {
    display: inline-block;
    background-color: @light-grey;
    color: @med-blue;
    padding: 2px 3px;
    margin: 0 2px 2px 0;
    border-radius: 6px;
    cursor: pointer;
}

.view-airphoto-photo:hover {
    color: @dark;        
}

.identify-air-photo-link {
    float: right;    
}

.identify-air-photo-content {

}

.identify-air-photo-content .content {
    text-align:center;
    margin: 3px 0 0 0;
    display:none;   
}

.identify-air-photo-content span {
    background-color: @med-blue;
    color: @light-grey;
    display: inline-block;
    padding: 2px 3px;
    margin: 0 2px 2px 0;
    border-radius: 6px;
    cursor: pointer; 
}

.identify-air-photo-content span:hover {
    color: @dark;        
}

.identify-air-photo-content .success-message {
    color: @med-blue;  
    margin: 3px 0;  
}

.identify-air-photo-content .warning-message {
    color: @med-blue;  
    margin: 3px 0;  
}

.identify-air-photo-content .error-message {
    color: @error;  
    margin: 3px 0;  
}

.identify-air-photo-content .progress-message {
    color: @med-blue;  
    margin: 3px 0;  
}

.identify-air-photo-content i, .action i, .identify-air-photo-link i { 
    padding: 0 3px;  
}


.findLabel {
    color: @dark; 
    font-size: 12px;    
}

.findInput {
    color: @dark; 

}
.findButton {
    color: @dark; 
    float: right;
    font-size: 12px !important; 
}

.locationView {
    background-color: @med-blue;
    color: @light-grey;
    border-radius: 6px;
    padding: 12px; 
    margin: 12px;
    font-size: 11px;   
}

.locationView .locButton {
    /*padding: 0.4em;
    width: 19px;
    float: right;*/
}

.locationView .locName {
    font-size: 14px;
    float: left;    
    font-weight: bold;
    padding: 0 0 3px 0;  
    vertical-align: middle;
}

.locationView .locLabel {
     padding: 3px 0 3px 0; 
}

.dataTitle {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 3px 0;  
}

#findWrapper {

}

.download-view {        
    border-bottom: 1px solid @med-blue;
    border-right: 1px solid @med-blue;
    border-bottom-right-radius: 5px;
    padding: 0 6px 0 0; 
    margin: 12px;
    font-size: 13px;   
    color: @dark;
}

.download-view .download-view-icon {
    width:24px;
    display:table-cell;
    vertical-align:middle;
}

.download-view .download-view-text {
    display:table-cell;
}

.tab {
    float: left;
    background-color: @dark-grey;
    color: @med-blue;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid @med-blue;
    border-bottom: 1px solid @dark-grey;
    border-right: 1px solid @med-blue;
    border-left: 1px solid @med-blue;
    padding: 3px 9px 3px 9px;
    margin: 0 3px 0 0;
    cursor: pointer;
}

.tab-selected {
    background-color: @med-blue;
    color: @light-grey;
    border: 1px solid @med-blue;     
}

.menu-panel {
    background-color: @light-grey;
    border: 1px solid @med-blue;
    border-radius: 5px;
}

/*infoTemplate string styles */

.iw-text {
    font-size: 11px;
}

.iw-b {
    font-weight:bold
}


.iw-row:nth-child(2n+1) {
    background: @dark-grey;
}

.iw-title {
    font-weight:bold;
    font-size: 13px;
}

.iw-title-header {
    border-bottom: 1px solid @dark;
}

.bm-wrapper, .sc-wrapper, .lk-wrapper {
    font-size: 13px;
    padding: 5px;
}


.bm-selector, .lk-selector {
    cursor: pointer;
    opacity: 1;
    color: @dark;
    font-size: 13px;
    margin: 3px 0 3px 0;
}

.bm-selected {
    opacity: 0.50;
}

.bm-image, .lk-image {
    border-radius:5px;
    vertical-align:middle;
}

.bm-title, .lk-label {
    padding: 0 0 0 6px;
}

.lk-selector a {
    color: @dark;
    text-decoration: none;
}

.sc-input {
    display: block;
    float:left;
}

.sc-button {
    display: block;
    float: left;
    font-size: 10.5px;
    background: url();
    background-color: @med-blue;
    color: @light-grey;
}

.svgBtn {
    position: absolute;
    z-index: auto;
    color: white;
    background-color: @black;
    font-size: 12px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: @jquery-ui-icons-light-grey;
    background-position: -64px -144px;
    border: 1px solid @black
}

.svgBtn.check {
    background-image: @jquery-ui-icons-light-grey;
    background-position: -64px -144px;    
}

.svgBtn.close {
    background-image: @jquery-ui-icons-light-grey;
    background-position: -80px -128px;    
}


/* .esriPopup customizations */

.esriPopup {
    font-family: @main-font;
    font-size: 13px;
}

.esriPopup .titlePane {
    color: @light-grey;
    background-color: @med-blue;    
}

.esriPopup .contentPane {
    color: @dark;
    background-color: @light-grey;
}

.esriPopup .actionsPane {
    border-top: 1px solid @med-blue;
    background-color: @light-grey;
}

.esriPopup a {
    color: @med-blue;
    text-decoration: none;
}

/* other esri over-rides */

.esriSimpleSlider {
    background-color: @med-blue;
    border: 2px solid @dark;
    color: @light-grey;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 2px solid @dark;
}

.esriSimpleSliderIncrementButton:hover, .esriSimpleSliderDecrementButton:hover {
    color: @med-blue;
    background-color: @light-grey;
}

/* jQuery cusomizations */

.reha-spinner {
    width: 36px;
    height: 22px;
}

/* jQuery UI over-rides */

.ui-dialog {
    border: 1px solid @med-blue !important;
}

.ui-dialog .ui-dialog-content {
    font-size: 13px;
}

.ui-dialog .ui-widget-header  {
    background: url();
    background-color: @med-blue !important;
    color: @light-grey;
    border: 1px solid @med-blue !important;
}
.ui-dialog, .ui-dialog .ui-widget-content {
    background: url();
    background-color: @light-grey !important;
}
.ui-dialog .ui-dialog-titlebar .ui-button {
    background-color: @light-grey !important;   
}

.ui-state-default, .ui-widget-content, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
}

.ui-button {
    background: url() repeat-x scroll 50% 50% @dark-grey !important;   
}

.ui-button.sc-button {
   background: url() repeat-x scroll 50% 50% @med-blue!important;    
}

.ui-widget {
    font-family: Ubuntu, Helvetica, sans-serif;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    background: url() repeat scroll 0 0 @med-blue;
    border: 1px solid @med-blue;
    color: @light-grey;
}

.view .ui-icon {
    background-image: @jquery-ui-icons-med-blue;
}

.ui-dialog .ui-icon {
    background-image: @jquery-ui-icons-med-blue;
}

.view-toggle .ui-icon {
    background-image: @jquery-ui-icons-light-grey;
}

#searchClear .ui-icon, #downloadClear .ui-icon, #downloadList .ui-icon  {
    background-image: @jquery-ui-icons-med-blue;
}

.ui-button.locButton .ui-button-icon-primary {
    background-image: @jquery-ui-icons-med-blue
}

.ui-button.search-button .ui-button-icon-primary {
    background-image: @jquery-ui-icons-med-blue
}

/* jQuery menu over-rides */

.data-menu.ui-widget-content {
    background: url() repeat-x scroll 50% top  @light-grey;
}

.data-menu .sub-menu {
    background: url() repeat-x scroll 50% top  @light-grey;
    border: 1px solid @med-blue;
}

.data-menu .ui-menu-item a:hover {
    background-image: none !important;
    background-color: @med-blue !important;
    color: @light-grey;
    border: 1px solid @med-blue;
}

.data-menu .ui-menu-item a:hover .ui-icon  {
    background-image: @jquery-ui-icons-light-grey !important;
}

.data-menu .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-image: none !important;
    background-color: @med-blue !important;
    border: 1px solid @med-blue;
    color: @light-grey;
    font-weight: normal;
    
}

.data-menu .ui-state-focus {
    background-image: none !important;
    background-color: @med-blue !important;
    border: 1px solid @med-blue;
    color: @light-grey;
    font-weight: normal;  
}

.data-menu .ui-menu-item .ui-icon {
    background-image: @jquery-ui-icons-med-blue;
}

/* slider styles */

.ui-slider {
    background: url();
    background-color: @dark-grey;
    border: none;
    color: @dark;    
    top: 3px;
}

.ui-slider .ui-state-default {
    background: url();
    background-color: @light-grey;
    border: 1px solid @light-grey;
    color: @dark;      
}

/* symbology UI stuff */

.sym-ui { }

.sym-ui select {
    margin: 2px 2px 2px 0;    
}
.sym-ui .sym-ui-select-field {
    width: 150px;    
}

.sym-ui-button {
    background-color: @dark-grey;
    color: @med-blue;
    padding: 4px;
    margin: 2px 2px 2px 0;
    border-radius: 1px;
    display: inline-block;
    cursor: pointer
}
.sym-ui-button span {
    font-weight: 700;
}

.sym-ui-color-list {
    margin: 0px;
    list-style-type: none;
    display: inline;
}
.sym-ui-color-list li {
    border: 1px solid @dark-grey;
    margin: 0 2px 0 0;
    padding: 2px;
    float: left;
}

.sym-ui-from-hex, .sym-ui-to-hex {
    float:left;
    height:16px;
    width:16px;
}

.sym-ui-hex-spacer {
    float:left;
    margin: 0 2px;
}

/*.sym-ui-color-list li div {
    display: inline;   
}*/





